@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-primary-light: #333333;
  --color-accent: #8C8C8C;
  --color-accent-light: #E6E6E6;
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #F5F5F5;
  --color-neutral-800: #1A1A1A;
  --color-neutral-900: #000000;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer base {
  body {
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-50);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    letter-spacing: -0.025em;
    color: var(--color-neutral-900);
  }

  /* Modern Scrollbar B2B Temizliği */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-neutral-100);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 4px;
  }
}
